# EmailJS Service Configuration
EMAILJS_SERVICE_NAME=civitasgmail
EMAILJS_SERVICE_ID=service_afonwlj
EMAILJS_TEMPLATE_ID=template_prtzeia
EMAILJS_PUBLIC_KEY=YOUR_EMAILJS_PUBLIC_KEY

# Destination Email Address for Contact Form Inquiries
RECIPIENT_EMAIL=info@civitas.co.ug
